@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
	font-family: 'Lato', sans-serif;
}
.color1{
	background: rgba( 55, 213, 234, 0.59);
}
.color2{
	background: rgba( 254, 226, 31, 0.59);
}
.color3{
	background: rgba( 243, 86, 5, 0.59);
}
.color4{
	background: rgba( 17, 96, 113, 0.59);
}
.color5{
	background: rgba( 210, 124, 1, 0.59);
}
.color6{
	background: rgba( 1, 173, 189, 0.59);
}
.w70{
	width: 70%;
	display: block;
	margin: 10px auto;
}
.w80{
	width: 80%;
	display: block;
	margin: 10px auto;
}
.w90{
	width: 90%;
	display: block;
	margin: 10px auto;
}
.box-tamano{
	width: 100%;
	height: 100vh;
}
.bq-primario{
	background-image: url(../img/img1.jpg);
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: 70vh;
	position: relative;
}
.box-cont{
	padding: 5px;
}
.logo{
	width: 150px;
	float: right;
}
.contmenu {
	margin: 0px 3px;
}
.itempadre{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	display: table
}
.contmenu .itemhijo{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-weight: 400;
}
.contmenu .itemhijo:hover{
	text-decoration: none;
	color: #fff;
}
.cont-timenu {
	width: 90%;
	position: absolute;
	bottom:3%;
	left: 5%;
	right: 5%;
}
.bq-texto{
	position: relative;
	height: 30vh;
	padding: 20px;
}
.box-cont .img-texto{
	width: 100%;
}
.conte-texto {
	position: absolute;
	width: 80%;
	height: 90%;
	left: 10%;
	right: 10%;
	top: 5%;
	overflow-x: auto;
	padding: 0;
}
.conte-texto2 {
	position: absolute;
	width: 100%;
	height: 95%;
	left: 0;
	top: 2%;
	overflow-x: auto;
	padding: 0;
}
.conte-texto3 {
	position: absolute;
	width:90%;
	height: 95%;
	left:5%;
	right: 5%;
	top: 2%;
	overflow-x: auto;
	padding: 0;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d1d2d3; 
}
.box-tamano .box-img{
	width: 100%;
	height: 70vh;
	background-size: cover;
	background-position: top;
}
.box-img-primer{
	background: url(../img/img2.jpg);
}
.box-tamano .box-img2{
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center;
}
.box-img-segd{
	background: url(../img/img3.jpg);
}
.bq-texto2{
	position: relative;
	height: 40vh;
	padding: 20px;
}
.boxcol1 {
	background: #37d5ea;
}
.tgris{
	color: #606060;
}
.boxcol3{
	background: #f35605;
}
.boxcol4{
	background: #116071;
}
.quote {
	display: block;
	margin: 5px auto 1px;
	width: 50px;
}
.titu{
	margin-bottom: 15px;
	font-size: 30px;
}
.prrafo2 {
	width: 90%;
	margin: 0 auto 10px;
	font-size: 16px;
	line-height: 1.2;
} 
.prrafo {
	width: 90%;
	margin: 0 auto 10px;
	font-size: 18px;
	line-height: 1.2;
} 
.tbn{
	color: #fff;
}
.cita {
	font-size:18px;
	font-weight: normal;
	margin: 0 0 3px; 
	line-height: 1;
}
.fuente{
	font-size:12px;
	font-weight: normal;
	opacity: 0.5;
}
.img-b{
	width: 100%;
}
.fbold{
	font-weight: 700;
}
.subtitu{
	font-size:30px;
	margin: 5px 0 18px;
	padding: 0 20px;
	line-height: 1;
}
.boximg{
	margin:10px auto;
	width:170px;
	text-align: center;
}
.numerot{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0;
}
.boxcol2{
	background: #fee21f;
}
.fgrand{
	font-size: 30px;
}
.fmd {
	font-size: 24px;
}

.bx-relative{
	position: relative;
}
.imagenback{
	position: absolute;
	width: 200px;
	margin: 20px;
	right: 40%;
	left: 40%;
	top: 25%;
}
/* scrolltop */
	.scroll {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 40px;
  right: -80px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(17,96,113,1) 0%, rgba(1,173,189,1) 81.3% );
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px 0px #116071;
  transition: 300ms;
}
.scroll i {
  margin-top: 10px;
  text-shadow: 0 0 2px #fff;
}
.scroll:hover i {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rotate {
  from {margin-top: 15px}
  to {margin-top: 5px}
}
.visible {
  right: 30px;
  transition: all 400ms;
  transform: rotate(360deg)
}
/* ===== responsive ============*/
@media (max-width: 767px) {
 .titu {
		font-size: 20px;
	}
	.box-cont{
		padding: 10px;
	}
	.logo{
		width: 100px;
		float: right;
	}
	.box-cont p{
		letter-spacing: 0.5px;
		display: block;
		margin-top: 430px;
		font-size: 35px;
		text-align: center;
		color: #fff;
		-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #fff;
		line-height: 1;
	}
	.imagenback{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
  .titu {
		font-size:35px;
	}
	.quote {
	display: block;
	margin: 20px auto 10px;
	width: 50px;
}
.cita {
	font-size:24px;;
	margin:40px 0 3px; 
}

.fuente{
	font-size:16px;
	font-weight: normal;
	opacity: 0.5;
}
}
@media (min-width: 992px) and (max-width: 1024px){

}
@media (min-width: 1024px) and (max-width: 1366px){

}
@media (min-width: 2001px) and (max-width: 2500px){

}
@media (min-width: 2501px){

}